@font-face {
    font-family: 'IstokWeb-Regular';
    src: url('../fonts/IstokWeb-Regular.eot');
    src: url('../fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IstokWeb-Regular.woff') format('woff'),
    url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
    url('../fonts/IstokWeb-Regular.svg#IstokWeb-Regular') format('svg');
}

html {
    background: #000;
}

body {
    color: #000;

    font: 54px 'IstokWeb-Regular',sans-serif;
    font-weight: bold;
    line-height: 54px;

    -webkit-font-smoothing: antialiased;
}

div.content {
    display: inline-block;
    background: #000;
    color: #000;
    position:absolute;
    top:0;
    bottom:0;
    margin: auto 100px;
    height:54px;

}

div.cursor {
    display: inline-block;
    background: #000;
    color: #fff;
    font: 54px 'IstokWeb-Regular',sans-serif;


    -webkit-animation: blink 2s linear 0s infinite;
    -moz-animation: blink 2s linear 0s infinite;
    -ms-animation: blink 2s linear 0s infinite;
    -o-animation: blink 2s linear 0s infinite;
}


div.question {

    margin-left: 20px;
    display: inline-block;
    width: 300px;
    color: #000;
    background: #fff;
    padding: 10px;
    margin-bottom: 100px;
}


@-webkit-keyframes blink {
    0%   { color: #ccc }
    47%  { color: #fff }
    50%  { color: #000 }
    97%  { color: #000 }
    100% { color: #fff }
}

@-moz-keyframes blink {
    0%   { background: #ccc }
    47%  { background: #fff }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #fff }
}

@-ms-keyframes blink {
    0%   { background: #ccc }
    47%  { background: #fff }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #fff }
}

@-o-keyframes blink {
    0%   { background: #ccc }
    47%  { background: #fff }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #fff }
}