@font-face {
    font-family: 'IstokWeb-Regular';
    src: url('../fonts/IstokWeb-Regular.eot');
    src: url('../fonts/IstokWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IstokWeb-Regular.woff') format('woff'),
    url('../fonts/IstokWeb-Regular.ttf') format('truetype'),
    url('../fonts/IstokWeb-Regular.svg#IstokWeb-Regular') format('svg');
}

body {
    font: 16px 'IstokWeb-Regular',sans-serif;
    margin: 0;
    background-color: #000000;
}

#graph-container {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    position: fixed;
    z-index: 10;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000000;
    -webkit-animation: blink 2s linear 0s;

}

#choices {
    font: 40px 'IstokWeb-Regular',sans-serif;
    color: #fff;
    top: 50px;
    left: 50px;
    z-index: 11;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}



@-webkit-keyframes blink {
    0%   { opacity: 0 }
    33%  { opacity: 0.4 }
    50%  { opacity: 0.7 }
    80%  { opacity: 0.9 }
    100% { opacity: 1 }
}