body {
    font: 16px 'IstokWeb-Bold',sans-serif;
    margin: 0;
    background-color: #000000;
}

#graph-container {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    position: fixed;
    z-index: 10;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000000;
}